// Custom styles 

  .circular-color {
    background-color: rgba(255, 173, 15, 0.018); /* #FFAD0F with 30% opacity */
    border-radius: 50%;
    box-shadow: 0 0 70px 165px rgba(255, 173, 15, 0.018);
  }

