<div class="px-32 pt-24 flex justify-between items-center">
  <!-- For the text  -->
  <div class="flex flex-col">
    <span class="font-bold text-6xl mb-4">Samuel Adetula.</span>
    <span class="mb-4 max-w-xl overflow-hidden whitespace-normal"
      >I am a Product designer based in Earth with experience in seamless user
      interface and experience designs across all devices for any target
      audience. Providing solutions through design to improve lives is my
      goal.</span
    >
    <div class="flex gap-x-5">
      <div class="flex items-center justify-center">
        <span class="pr-1">icon</span>
        <span class="contact-links">Email</span>
      </div>
      
      <div class="flex items-center justify-center">
        <span class="pr-1">icon</span>
        <span class="contact-links">LinkedIn</span>
      </div>


      <div class="flex items-center justify-center">
        <span class="pr-1">icon</span>
        <span class="contact-links">Resume</span>
      </div>


      <div class="flex items-center justify-center">
        <span class="pr-1">icon</span>
        <span class="contact-links">ade_samuelz</span>
      </div>


    </div>
  </div>

  <!-- For image  -->
  <div></div>
</div>
