<app-hero-section
  [header]="headerText"
  [headerDescription]="headerDesc"
  [heroImage]="headerImage"
  [heroImageDesc]="headerImageDescription"
></app-hero-section>



<div class="px-32 grid grid-cols-3 gap-x-6 mx-auto mb-56">
  @for (content of cardContent; track content.authorName) {
  <div class="bg-center bg-no-repeat rounded-3xl" style="background-image: url('{{content.image}}')">
  <div class="pt-100 px-10" >

    <span class="font-semibold text-2xl -pt-56 mb-3" >
      {{content.quote}}
    </span>
    <span class="flex justify-end">
      - {{content.authorName}}
    </span>
  </div> 
  </div>
} @empty {
  <span>The list is empty</span>
}

</div>
